<style type="text/css">
    .line-height-200 {
        line-height: 250%;
    }
</style>
<div class="main-flex line-height-200">
    <div class="bs-callout bs-callout-info ">
        <ul class="reset-ul">
            <li>
                记事页面右下角图标说明：
            </li>
            <li>
                <i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;
                为功能菜单按钮，点击可显示更多的功能按钮
            </li>
            <li>
                <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;
                为分享（穿越）按钮，点击可获取当前页面分享地址，或者使用分享地址穿越到其它设备进行查阅
            </li>
            <li>
                <i class="fa fa-th-list" aria-hidden="true"></i>&nbsp;
                为记事列表按钮，点击可按时间倒序显示当前登录用户的所有记事
            </li>
            <li>
                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;
                为新建记事按钮，点击可新建记事，默认当前记指向上一次记事，如果需要新建记事，则需要点击此项
            </li>
        </ul>
    </div>

    <div class="bs-callout bs-callout-info">
        <ul class="reset-ul">
            <li><b>0x00</b>、一个基于Angular的小项目</li>
            <li><b>0x01</b>、通过实践一个类似记事本的功能</li>
            <li><b>0x02</b>、可以分享记事</li>
            <li><b>0x03</b>、默认获取最近一条记事</li>
            <li><b>0x04</b>、可查看所有记事（未实现）</li>
            <li>
                <b>0x05</b>、使用了
                <span class="label label-info">angularJS</span>
                <span class="label label-info">ui-router</span>
                <span class="label label-info">ocLazyLoad</span>
                <span class="label label-info">bmobJS</span>
                <span class="label label-info">bootstrap</span>
                <span class="label label-info">$q</span>
                等。
            </li>
        </ul>

    </div>

    <!--<div class="checkbox">-->
    <!--<label>-->
    <!--<input type="checkbox"> Remember me-->
    <!--</label>-->
    <!--</div>-->
</div>